input[name="Mod0EditRecord"]
{
    background-color: #F6C23E !important;
    border-color: #F6C23E !important;
    font-weight: 400;
    color: #fff !important;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-width: 15px !important;
    text-transform: capitalize !important;
    height: 30px !important;
}

.cbUpdateButtonContainer {
    text-align: left !important;
}

.btn,
input[name="Mod0EditRecord"],
input[name="Mod0DeleteRecord"],
#cb-modal-body .cbSubmitButton
{
    padding: .25rem .5rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}

.card .card-header {
    background-color: #f8f9fc !important;
}