body
{
        background-image: linear-gradient(#1195bb, #015883) !important;
}

.bg-password-image
{
        background: url('../img/image-4.jpg');
        background-position: center;
        background-size: cover;
}

table[role="presentation"],
table[data-cb-name="cbTable"]
{
        width:100% !important;
        margin:auto;
}

input[type="submit"]
{
        width: 100%;
        margin: 0px !important;
}

table[data-cb-name="cbTable"] td
{
        padding:5px !important;
}

.forgot-password-wrapper {
     margin-top: 195px;   
}

@media (max-height: 768px) {
        .forgot-password-wrapper {
                margin-top: 175px;   
        }
}

.forgot-password {
        margin-top: 18px;
}